
.main {
  background: #eee;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  width: 100%;
  text-align: center;
}

.footer {
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: small;
  font-weight: bold;
  padding-top: -5px;
  padding-left: 10px;
  vertical-align: middle;
  color: white;
  background-color: rgba(0, 162, 255, 0.959);
}

.container-login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#painel{
  font-family: 'Calibri Light';
  margin:auto;
  width: 50% !important;
}


#tabela{
  border-radius: 15px 50px 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

.form-login{
  width: 500px;
  background: #fff;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 10px;
}

.form-login Input{
    flex: 1;
    height: 46px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ddd;
}

.form-login Button{
    font-size: 16px;
    background-color: rgba(0, 162, 255, 0.959);
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.navbar navbar-dark bg-primary topo{
  background-color:  rgba(0, 162, 255, 0.959);
}

.titulo-login{
  color: rgba(0, 162, 255, 0.959);
  font-weight: bold;
}